[submodule "pi_0_robot/openpi"]
	path = pi_0_robot/openpi
	url = git@github.com:Physical-Intelligence/openpi.git
[submodule "pi_0.6_robot"]
	path = pi_0.6_robot
	url = https://github.com/hzm8341/pi0.6.git
